@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');
a
{
  color: #fff !important;
}
p
{
  margin: 0;
}
header
{

  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(16,29,44,.95), rgba(16,29,44,.95)),
  url("1.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}


